av
facenet-pytorch
matplotlib
mediapipe
nltk
numpy
opencv-python
pandas
psutil
pyannote.audio
pyannote.core
pynvml
pytest
python-magic
scenedetect
scikit-learn
sentence-transformers
scipy
torch
setuptools
wheel
twine
whisperx@git+https://github.com/m-bain/whisperx.git